body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.App {
}
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
}
nav a {
  padding: 5px;
  font-size: 15px;

  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}
.blogPostsContainer {
  display: flex;
  flex-wrap: wrap;
}
.blogContainer {
  flex: 1;
  border: 1px solid #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  flex: 1 0 300px;
  border-radius: 10px;
  margin: 10px;
}
.blogContainer h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
h2 {
  font-size: 1rem;
}
